body {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url(../recursos/login2.png);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}


#labelfont {
    font-size: 6px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1150px;
    background: #fff;
    text-align: center;
    padding: 20px 20px;
    margin-right: 10px;
    margin-left: 10px;
    box-shadow: 0 5px 10px rgba(71, 3, 6, 0.7);
}

form .title {
    color: #252525;
    font-size: 35px;
    font-weight: 800;
    font-family: serif;
    margin-bottom: 70px;
}

form label {
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-left: 49.5px;
    margin-right: 30px;
}

form .label2 {
    margin-bottom: 50px;


}

form label input.largo {
    color: #252525;
    border-bottom: solid 1px #D1B7A1;
    padding: 0 15px;
    font-size: 13px;

    margin-bottom: 50px;
}

@media only screen and (max-width: 576px) {
    .form {
        height: 200px;
        display: flex;
        flex-direction: column;
    }

    .user-detail {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .form label {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 50px;
        margin-left: 70px;
        margin-right: 30px;
    }

    form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: 1150px;
        background: #fff;
        text-align: center;
        padding: 20px 20px;
        margin-right: 10px;
        margin-left: 10px;
        box-shadow: 0 5px 10px rgba(71, 3, 6, 0.7);
    }
}

form label input {
    outline: none;
    border: none;
    color: #252525;
    border-bottom: solid 1px #D1B7A1;
    padding: 0 15px;
    font-size: 13px;
}

form label input::placeholder {
    color: rgba(37, 37, 37, 0.5);
    font-size: small;
}

form .link {
    color: #252525;
    margin-top: 30px;
    font-size: small;
}

.button {
    border-radius: 4px;
    outline: #252525;
    color: black;
    border: none;
    background: linear-gradient(to right, #D1B7A1, #D1B7A1);
    padding: 10px 15px;
    cursor: pointer;
}

.container form .user-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container form .user-detail2 {
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-check {
    margin-bottom: 20px;
}