h5 {
    text-align: center;
}

footer {
    background-color: #9E8671 !important;
    margin-top: 25px;
}

#iconosIndex {
    margin-bottom: 50px;

};


#bordeimgindex {
    border-radius: 100%;
}


#c1 {
    color: rgb(255, 255, 255) !important;
}

.col-md-8 {
    background-color: #FAF5F0 !important;
}


.mg,
#mg,
.fo1 {
    margin-top: 150px;
}

#container-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-card {
    margin-left: 30px;
    background-color: #D1B7A1;
    color: black;
}

.card-footer .btn{
    background-color: #9E8671;
    align-items: center !important;
    justify-content: center;

}

#card-product {
    background-color: #FAF5F0;
}

.mg-body {
    margin-top: 10px;
}

.nav-item {
    margin-right: 15px;
    margin-left: 15px;
}

.D1 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url(../../recursos/login2.png);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

#labelfont {
    font-size: 6px;
}


#login-form{
    display: flex;
    flex-direction: column;
    background: #fff;
    text-align: center;
    padding: 40px 45px;
    box-shadow: 0 5px 10px rgba(71, 3, 6, 0.7);
}

#signup-form{
    display: flex;
    flex-direction: column;
    background: #fff;
    text-align: center;
    padding: 40px 45px;
    box-shadow: 0 5px 10px rgba(71, 3, 6, 0.7);
}

form .title {
    color: #252525;
    font-size: 35px;
    font-weight: 800;
    font-family: serif;
    margin-bottom: 30px;
}

form label {
    margin-bottom: 35px;
}

form label input {
    outline: none;
    border: none;
    color: #252525;
    border-bottom: solid 1px #D1B7A1;
    padding: 0 15px;
    font-size: 18px;
}

form label input::placeholder {
    color: rgba(37, 37, 37, 0.5);
    font-size: small;
}

form .link {
    color: #252525;
    margin-top: 30px;
    font-size: small;
}

form button {
    color: #fff;
    border: none;
    background: linear-gradient(to right, #D1B7A1, #D1B7A1);
    padding: 10px 15px;
    cursor: pointer;
}

.container .estrellas{
    align-items: center;
    justify-content: center;
    color: rgba(233, 233, 7, 0.911);
    padding: .5rem 0;
}

#filtros{
    max-height: 630px;
    max-width: 350px;
    margin-top: 170px;
    background-color: #FAF5F0;
    margin-left: 30px;
    border-radius: 20px;

}

.form-check{
    margin-left: 20px;
}

.tt1,.pp{
    margin-top: 20px;
    margin-left: 20px;
    font-weight: bold;
}


a{
    color: black !important;
}

@media only screen and (max-width: 1159px) {
    #filtros{
        max-height: 700px;
    }
}

.container h2{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container .card{
 background-color: aliceblue;
    margin-block: 15px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px;
}


.materialboxed{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 3px 3px;
}
.materialboxed:hover{
    transform: scale(1.1);
    transition: 1s;
}

.card-body p{
    color: #000000;
    font-size:100% !important;
    font-family: 'Teko', sans-serif !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-body button{
    font-size:105% !important;  
    font-family: 'Teko', sans-serif !important;
    background-color: #EDE7F6;
}

.card-body span{
    color: #000000;
    font-size:150% !important;
    font-family: 'Teko', sans-serif !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container .logo{
    display: flex;
    max-width: 900px;
    max-height: 900px;
    align-items: center;
    justify-content: center;
}

header{
    margin-bottom: 200px;
}

footer{
    margin-top: 200px;
}

